---
import SEO from "../components/SEO.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<SEO
			title="Saasential – Building the Engines that Power Modern FinTech & SaaS Innovation"
			description="Wyoming-based software and consulting company specializing in scalable SaaS, FinTech, and API-driven platforms."
			keywords="SaaS development, FinTech consulting, API integration, Astro, TailwindCSS, Node.js"
			image="https://www.saasential.tech/logo/saasential_logo.svg"
			url="https://www.saasential.tech"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

